.bg-2 { 
    background-color: #333333; /* Dark grey */
    color: #ffffff;
    font-family: Century Gothic;
}

#chat {
    
	float: left;

}



#msgList {
    
	border-width: 1px;
   
 	border: solid;
    
	height:200px;
    
	width:300px;
    
	overflow:scroll;

}


#loginbox {
	position: relative;
	text-align: center;
}

#nickList {
    
	float:left;

}